{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/approve.css' %}">
    <link rel="stylesheet" href="{% static 'css/top-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/bottom-footer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

 
    <title>AppaRental-Approval List</title>
</head>

<body>

    {% include 'top-footer.html' %}

    <div class="container-fluid" id="wrapper-top">
        <a class="tulisan-back" href="/products">
            <i class="fa fa-arrow-circle-left"></i>
            <p>Back to Products Page</p>
        </a>

        <div class="container-fluid" id="wrapper">
                
                <div class="bawah">
                    <h5>Waiting for Approval</h5>
                    <hr>

                    <div class = 'kolom'>
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ user }}
                        </form>
                    </div>


                    <div class="container-fluid" id="wrapper_content">
                        {% for baju in products %}
                        <div class="isinya">
                            <div class="fotonya">
                                <img src="{% static 'image/kuning.jpg' %}">
                            </div>
                            
                            <div class="keterangan">
                                <div class='top3'>
                                    <p class="nama_item" style="margin-bottom: 0; padding-bottom: 0.2rem;">
                                        {{baju.name}}
                                    </p>
                                </div>
                                <div class='top2'>
                                    <p class="harga_item">
                                        <i>{{baju.price}}</i>
                                    </p>
                                </div>
                                
                                <div class='top'>
                                    <div class='top'>
                                        <p class="status-label">
                                            {{baju.status}}
                                        </p>
                                    </div>
        
                                   <div class='bottom'>
                                        <a href="#">
                                            <button type="button" class="btn" style="margin-left: 2.5rem; margin-top: 3rem;">Aprrove</button>
                                        </a>
                                    </div>
                                    <div class='bottom'>
                                        <a href="#">
                                            <button type="button" class="btn" style="margin-left: 2.5rem; margin-top: 3rem;">Reject</button>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div>
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ formulir }}
                            <div class="centre-items">
                                <input type="submit" class="btn btn-primary" value="Create cart">
                            </div>
                        </form>
                    </div>

                </div>
        </div>
    </div>

    {% include 'bottom-footer.html' %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>