{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="{% static 'css/font-awsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/top-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/bottom-footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

 
    <title>astrida nayla. - Schedule</title>
</head>

<body>

    {% include 'top-footer.html' %}

    <div class="container-fluid" id="wrapper-top">
        <a class="tulisan-back" href="#">
            <i class="fa fa-arrow-circle-left"></i>
            <p>Back to Products Page</p>
        </a>

        <div class="container-fluid" id="wrapper">
                
                <div class="bawah">
                    <h5>Items you Rented</h5>
                    <hr>

                    <div class = 'kolom'>
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ user }}
                        </form>
                    </div>
                    
                    <div>
                        <p>Name (for your new cart)</p>
                        <form action='.' method="GET">
                            {{form}}

                            {% for baju in products %}
                            <div class="container-fluid" id="wrapper_content">
                                <!-- {% for baju in data %} -->
                                <div class="isinya">
                                    <div class="fotonya">
                                        <!-- <img src="{% static 'baju.png' %}"> -->
                                        <img src="{% static 'images/pic.png' %}"/>
                                    </div>
                                    
                                    <div class="keterangan">
                                        <div class='top3'>
                                            <p class="nama_item" style="margin-bottom: 0; padding-bottom: 0.2rem;">
                                                <!-- H&M Yellow Bomber Jacket -->
                                                {{baju.name}}
                                            </p>
                                        </div>
                                        <div class='top2'>
                                            <p class="harga_item">
                                                <!-- <i>Rp 80.000/ month</i> -->
                                                <i>{{baju.price}}</i>
                                            </p>
                                        </div>
                                        
                                        <div class='top'>
                                            <div class='top'>
                                                <p class="status-label">
                                                    {{baju.status}}
                                                </p>
                                            </div>
                
                                            <div class='bottom'>
                                                <a href="#">
                                                    <button type="button" class="btn btn-primary" style="inline:right;" name="return">Return Item</button>
                                                </a>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- {% endfor %} -->
                            </div>
                            {% endfor %}

                            <div>
                                <p>
                                    Message from seller:
                                </p>
                                <p>
                                    {{pesan.message}}
                                </p>
                            </div>
        
                            <div>
                                <form action='' method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <div class="centre-items">
                                        <input type="submit" class="btn btn-primary float-right" value="Create cart">
                                    </div>
                                </form>
                            </div>

                        </form>
                    </div>

                </div>
        </div>
    </div>

    {% include 'bottom-footer.html' %}

    <!-- Optional JavaScript -->
    <!-- <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="{% static 'js/jquery.easing.min.js' %}"></script> -->

    <!-- Custom JavaScript for this theme -->
    <!-- <script src="{% static 'js/scrolling-nav.js' %}"></script> -->

</body>

</html>