body {
    background-color: grey;
    text-align: center;
    color: white;
    height: 100vh;
}

.welcome {
    padding-top: 20%;
    padding-bottom: 20%;
}

.x{
    width: 250px;
    height: 367px;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.6);
    border-radius: 16px;
    padding-top: 20%;
    padding-bottom: 20%;
}