/* profile kebawah */

.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.biodata{
    padding: 0;
}

.btn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.biodata h1 {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    color: #252C29;

    padding-top: 1.5rem;
    padding-left: 2.5rem;
    margin-top: 5%;
    padding-right: 2.5rem;
}

.biodata h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #252C29;

    margin-bottom: 20px;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

.biodata p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    color: #252C29;

    margin: 0;
    padding-top: 0;
    padding-left: 2.5rem;
    padding-right: 8rem;
}

.btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    padding: 0.5rem 1.4rem;
}

.bottom button[type=button] {
    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

.button{
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

.photo img{
    width: 35vw;
}

.photo{
    display: flex;
    justify-content: flex-end;
}

.tulisan-back{
    display: flex;
    justify-content: flex-end;
}

.tulisan-back p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252C29;
}

#product-desc{
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}

hr{
    border-top: 3px solid #252C29;
    margin: 0 3rem;
}

.comments h4{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #252C29;

    padding-left: 3rem;
}

.formulir{
    padding: 0 3rem;
}

input[type=text] {
    border: 1px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border-radius: 0;
}

.formulir label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
}

.tombol input[type=submit]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    padding: 0.5rem 1.4rem;

    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

.tombol{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    padding-right: 3rem;
}


/* setiap konten */
#wrapper_content{
    display: block;
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #252C29;

    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0 1rem;
}

.top p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: #252C29;

}

.bottom p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
}

.top{
    padding-top: 0.8rem;
}

.bottom{
    padding-top: 0.5rem;
}

.bawah{
    padding-top: 2.5rem;
    padding-left: 2.5rem;
}

#comment{
    padding-bottom: 2rem;
}

.fa{
    color: #252C29;
    font-size: 0.5rem;
    padding-right: 0.5rem;
}

.bawah input[type=submit]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;

    padding: 0.6rem 1.8rem;

    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

/* DISPLAY TERBESAR */
@media (min-width: 962px){
    .photo img{
        max-width: 100%;
        height: auto;
    }
}

/* DISPLAY KEDUA TERBESAR */
@media (max-width: 961px){
    .row{
        display: flex;
        flex: row;
        width: 100vw;
    }
    .column{
        width: 100vw;
    }
    .photo img{
        width: 100vw;
    }
    .profile{
        width: 100vw;
    }
}

@media (max-width: 962px){
    .biodata h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 61px;
        font-family: 'Asap', sans-serif;
        padding-top: 1.5rem;
        padding-left: 2.5rem;
        margin-top: 5%;
        padding-right: 2.5rem;
    }
    
    .button{
        padding-top: 1.6rem;
        padding-left: 2.5rem;
        padding-bottom: 4rem;
    }

    .biodata p {
        max-width: 90%;
        font-weight: 300;
        padding-right: 0;
        line-height: 30px;
    }

    .tulisan-back p{
        padding-right: 1.2rem;
    }
    
}

@media (max-width: 510px){
    .biodata p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        margin: 0;
        padding-top: 1.6rem;
        padding-left: 2.5rem;
        padding-right: 0;
        padding-bottom: 0;
    }

    .biodata h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 61px;
        font-family: 'Asap', sans-serif;
        padding-top: 1.5rem;
        padding-left: 2.5rem;
        margin-top: 5%;
        padding-right: 2.5rem;
    }
    
    .biodata h2 {
        height: 44px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 44px;
        margin: 0;
        margin-bottom: 20px;
        padding-top: 0.5rem;
        padding-left: 2.5rem;
        padding-bottom: 3rem;
    }
    
    .biodata h6{
        height: 27px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        margin: 0;
        padding-top: 1.6rem;
        padding-left: 2rem;
    }
    
    .hovers{
        padding-top: 2.3rem;
        padding-left: 2rem;
    }
    
    .button{
        padding-top: 1.6rem;
        padding-left: 2rem;
        padding-bottom: 3rem;
    }
}