@font-face {
    font-family: 'open-sans';
    src: local('Open-sans'),
         url('../static/font/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Asap-bold';
    src: url('static/font/Asap-Bold.ttf');
}

.left, .right{
    height: 50vh;
    width: 100%;
}
.left{
    background: white;
}

.btn-dark{
    border-radius: 16%;
}

.right{
    background:white;
}

.justify-content-start {
    margin-bottom: 0;
}

.parent {
    display: flex;
    flex-direction: row;
    padding: 150px;
}

.image-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.paragraph-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Asap', sans-serif;
}

@media screen and (min-width:768px){
    .left, .right{
        height: 100vh;
    }
}

@media screen and (max-width:768px){
    .parent {
        display: flex;
        flex-direction: column;
    }
}