

body {
    background: url("/static/images/background.jpg") no-repeat;
    background-position: 0% 35%;
    background-size: cover;
    /* background-color: black; */
    text-align: center;
    color: white;
}

.welcome {
    height: 100vh;
    padding-top: 20%;
    padding-bottom: 20%;
}

.act {
    text-align: left;
    margin-bottom: 20px;
}

.option {
    color: white;
    font-size: 1.6em;
    font-weight: 1px;
    float: left;
    margin-right: 20px;
    padding: 3px 35px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
}

.option:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

#rights {   
    float: left;    
}