{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>AppaRental</title>
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/top-footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/bottom-footer.css' %}">
    </head>
    <body>
        <div class="container-fluid body">  
            <header class="fixed-top">
                <div class="row">
                    <div class="col-lg-3 navbar">
                        {% comment %} {% include 'top-footer.html' %} {% endcomment %}
                    </div>
                </div>
            </header>
            
            <div class="welcome">    
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-6 act">
                        <h1>Start your activity as</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 offset-lg-6">
                        <a class="option" href="/products">Shopper</a>
                        <a class="option"href="/start-sell">Seller</a>
                    </div>
                </div>
            </div>
            
            <footer class="fixed-bottom">
                <div id="rights">
                    {% comment %} {% include 'bottom-footer.html' %} {% endcomment %}
                </div>
                <!-- <p id="rights">2019 All rights served</p> -->
            </footer>

            <!-- <div class="row" id="home">
                <div class="fixed-top" class="navbar">
                    <div class="float-xs-left float-sm-left float-md-left float-lg-left navbar">
                        <a href="#home">Home</a>
                    </div>
                </div>
            </div> -->
        </div>
    </body>
</html>