* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Asap', sans-serif;
}

h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
#wrapper-top{
    max-width: 50rem;
    min-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
}

ul {
  list-style-type: none;
}

.status{
    text-align: center;
    font-size: 1rem;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    padding: 4rem 4.5rem;
    background-color: white;
}

#box{
    text-align: center;
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    border: 2px solid #252C29;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 5%;
}
.bottom-footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
}

.bottom-footer {
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    font-family: 'Asap', sans-serif;
}

.logo {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #252C29;
    padding: 0.2rem 0.5rem;

}

.top-footer button[type=button] {
    background-color: #FFFFFF;
    border: 3px solid #252C29;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    margin-top: 2.5rem;
}
